<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="project.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Navbar -- Change collapse breakpoint with navbar-expand-*breakpoint* -- -->
            <nav id="myNavbar" class="navbar navbar-expand-md navbar-custom navbar-dark fixed-top px-3">

                <!-- Brand -->
                <a class="navbar-brand" href="../index.html">ChairGod</a>
                <!-- Navbar toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2" aria-controls=".dual-collapse2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Left aligned links -->
                <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseLeft">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../index.html#landingPage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../index.html#aboutUsPage">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../index.html#guidePage">Choosing Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../catalogue/catalogue1.html">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../forum/forum.html">Forum</a>
                    </li>
                    
                </ul>
                </div>
                <!-- End of left aligned links -->

                <!-- Right aligned links -->
                <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseRight">
                <ul class="navbar-nav ms-auto navPadding">
                    <li class="nav-item">
                        <a class="nav-link linkText" href="login.html#loginPage">Login</a>
                    </li>
                </ul>
                </div>
                <!-- End of right aligned links -->

            </nav>
            <!-- End of navbar -->

        </div>
    </div>
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>   

    <!--Firebase script for user account login and creation-->
    <script>
      
        //Firebase configuration
        //Find at Firebase : Project Overview : Project Settings
        const firebaseConfig = {
        apiKey: "AIzaSyAuj6iX0Hqp9owZpvWyZRVEiQYLfnKbT2o",
        authDomain: "wadii-project-7c7dd.firebaseapp.com",
        projectId: "wadii-project-7c7dd",
        storageBucket: "wadii-project-7c7dd.appspot.com",
        messagingSenderId: "987135629921",
        appId: "1:987135629921:web:50fd77c89ec38592682820",
        measurementId: "G-PZBNMH36L8"
        };
      
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        
    </script>

    <div data-bs-target="#myNavbar">
        <!-- Page 5 / Create Account Page -->
        <div class="container-fluid" id="createAccPage">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Join the Community</h1>

                    <form id="create">
                        <div class="form-group">
                            <label for="userId">New User ID</label>
                            <input type="text" :class="formControlUser" id="newUserId" v-model="newUserId" aria-describedby="newUserId" placeholder="User ID" required>
                            <div class="invalid-feedback" v-if="userTaken">
                                User ID is already taken.
                            </div>
                            <div class="invalid-feedback" v-if="userEmpty">
                                Please enter a User ID.
                            </div>
                        </div>
                        <div class="breakPara"></div>
                        <div class="form-group">
                            <label for="password">Choose your Password</label>
                            <input type="password" :class="formControlPass" id="newPassword" v-model="newPassword" placeholder="Password" required>
                            <div class="invalid-feedback" v-if="passEmpty">
                                Please enter a password.
                            </div>
                            <div class="invalid-feedback" v-if="passLength">
                                Your password should be between 8-16 alphanumeric characters.
                            </div>
                            <div class="invalid-feedback" v-if="passAlphaNum">
                                Your password should not contain any symbols or spaces.
                            </div>
                        </div>
                        <div class="breakPara"></div>
                        <div class="form-group">
                            <label for="password">Re-enter your Password</label>
                            <input type="password" :class="formControlCfm" id="cfmPassword" v-model="cfmPassword" placeholder="Confirm Password" required>
                            <div class="invalid-feedback" v-if="cfmPassEmpty">
                                Please confirm your password.
                            </div>
                            <div class="invalid-feedback" v-if="cfmPassWrong">
                                The 2 passwords do not match.
                            </div>
                        </div>

                        <div class="break"></div>
                        <button type="button" class="btn btn-primary btn-lg btnSize" v-on:click="validate()">Create Account</button>
                    </form>
                    <div class="breakPara"></div>
                
                </div>
            </div>

        </div>


    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <!--Vuefire-->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <script>

        var dbUsers = firebase.database().ref("users");   

        const app = Vue.createApp({

            data() {
                return {
                    users: [], // array of user objects
                    formControlUser: "form-control",
                    formControlPass: "form-control",
                    formControlCfm: "form-control",
                    status: true,

                    //User inputs
                    newUserId: "",
                    newPassword: "",
                    cfmPassword: "",

                    //User validation boolean
                    userEmpty: false,
                    userTaken: false,

                    //User new pass boolean
                    passEmpty: false,
                    passLength: false,
                    passAlphaNum: false,

                    //User cfm pass boolean
                    cfmPassEmpty: false,
                    cfmPassWrong: false,

                }
            }
            ,

            firebase: {
                dbUsers: {
                    source: dbUsers,
                    asObject: true
                }
            }
            ,

            created() {
                dbUsers.once("value").then((snapshot) => {
                    if(snapshot.exists()) {
                        this.users = snapshot.val();
                        console.log(this.users)
                    }
                })
            }
            ,

            methods: {
                randomCharacters() {
                    var alphaNumerics = "abcdefghijklmnopqrstufwxyzABCDEFGHIJKLMNOPQRSTUFWXYZ1234567890";
                    var randomChar = ""

                    for (i=0; i<5; i++) {
                        var rand = Math.floor(Math.random() * alphaNumerics.length);
                        randomChar += alphaNumerics[rand];
                    }

                    return randomChar
                }
                ,

                validate() {
                    //Reset
                    this.formControlUser = "form-control";
                    this.formControlPass = "form-control";
                    this.formControlCfm = "form-control";
                    this.status = true;
                    this.userTaken = false;
                    this.userEmpty = false;
                    this.passEmpty = false;
                    this.passLength = false;
                    this.passAlphaNum = false;
                    this.cfmPassEmpty = false;
                    this.cfmPassWrong = false;

                    var alphanum = /^[a-z0-9]+$/i
                    //User ID Validation
                    if (this.newUserId == "") {
                        this.userEmpty = true;
                        this.formControlUser = "form-control is-invalid";
                        this.status = false;

                    } else if (this.newUserId in this.users) {
                        this.userTaken = true;
                        this.formControlUser = "form-control is-invalid";
                        this.status = false;

                    } else {
                        this.formControlUser = "form-control is-valid";
                    }

                    //Password Validation
                    if (this.newPassword == "") {
                        this.passEmpty = true;
                        this.formControlPass = "form-control is-invalid";
                        this.formControlCfm = "form-control is-invalid";
                        this.status = false;

                    } else if (this.newPassword.length < 8 || this.newPassword.length > 16) {
                        this.passLength = true;
                        this.formControlPass = "form-control is-invalid";
                        this.formControlCfm = "form-control is-invalid";
                        this.status = false;

                    } else if (alphanum.test(this.newPassword) == false) {
                        this.passAlphaNum = true;
                        this.formControlPass = "form-control is-invalid";
                        this.formControlCfm = "form-control is-invalid";
                        this.status = false;

                    } else {
                        this.formControlPass = "form-control is-valid";

                    }

                    //Confirm password
                    if (this.status == true) {
                        if (this.cfmPassword == "") {
                        this.cfmPassEmpty = true;
                        this.formControlCfm = "form-control is-invalid";
                        this.status = false;
                        } else if (this.cfmPassword != this.newPassword) {
                            this.cfmPassWrong = true;
                            this.formControlCfm = "form-control is-invalid";
                            this.status = false;
                        } else {
                            this.formControlCfm = "form-control is-valid";
                        }
                    }

                    //If all is filled out correctly
                    if (this.status) {
                        var revCode = this.randomCharacters();

                        firebase.database().ref('users/' + this.newUserId).update({
                            password: this.newPassword, 
                            userId: this.newUserId,
                            recovery: revCode
                        })
                        
                        localStorage.recovery = revCode;
                        window.location.href = "accountSuccess.html";
                    }
                    
                }

            }

        });

        app.mount('#create');

    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    
</body>
</html>