<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="project.css">
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Navbar -- Change collapse breakpoint with navbar-expand-*breakpoint* -- -->
            <nav id="myNavbar" class="navbar navbar-expand-md navbar-custom navbar-dark fixed-top px-3">

                <!-- Brand -->
                <a class="navbar-brand" href="../index.html">ChairGod</a>
                <!-- Navbar toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2" aria-controls=".dual-collapse2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Left aligned links -->
                <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseLeft">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../index.html#landingPage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../index.html#aboutUsPage">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../index.html#guidePage">Choosing Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../catalogue/catalogue1.html">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="../forum/forum.html">Forum</a>
                    </li>
                    
                </ul>
                </div>
                <!-- End of left aligned links -->

                <!-- Right aligned links -->
                <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseRight">
                <ul class="navbar-nav ms-auto navPadding">
                    <li class="nav-item" v-if="loggedUser == ''">
                        <a class="nav-link linkText" href="login.html">Login</a>
                    </li>
                </ul>
                </div>
                <!-- End of right aligned links -->

            </nav>
            <!-- End of navbar -->

        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script> 

    <!--Firebase script for user account login and creation-->
    <script>
      
        //Firebase configuration
        //Find at Firebase : Project Overview : Project Settings
        const firebaseConfig = {
        apiKey: "AIzaSyAuj6iX0Hqp9owZpvWyZRVEiQYLfnKbT2o",
        authDomain: "wadii-project-7c7dd.firebaseapp.com",
        projectId: "wadii-project-7c7dd",
        storageBucket: "wadii-project-7c7dd.appspot.com",
        messagingSenderId: "987135629921",
        appId: "1:987135629921:web:50fd77c89ec38592682820",
        measurementId: "G-PZBNMH36L8"
        };
      
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        
    </script>

    <div data-bs-target="#myNavbar">
        <!-- Password Reset -->
        <div class="container-fluid" id="recoveryPage">
            <div class="row">
                <div id="resetPage">
                <div class="col-sm-4">
                    <h1>Password Reset</h1>

                    <form v-if="reset != true">
                        <div class="form-group">
                            <label for="userId">User ID</label>
                            <input type="text" :class="formControlUser" id="userId" v-model="userId" aria-describedby="userId" placeholder="User ID">
                            <div class="invalid-feedback" v-if="userEmpty">
                                Please enter a User ID.
                            </div>
                            <div class="invalid-feedback" v-if="userDoesNotExist">
                                User ID does not exist.
                            </div>
                        </div>
                        <div class="breakPara"></div>
                        <div class="form-group">
                            <label for="revCode">Recovery Code</label>
                            <input type="text" :class="formControlCode" id="revCode" v-model="revCode" aria-describedby="revCode" placeholder="Recovery Code">
                            <div class="invalid-feedback" v-if="revEmpty">
                                Please enter your recovery code
                            </div>
                            <div class="invalid-feedback" v-if="revWrong">
                                Your recovery code does not match our system records
                            </div>
                        </div>
                        <div class="break"></div>
                        <button type="button" class="btn btn-primary btn-lg btnSize" v-on:click="check()">Reset</button>
                    </form>
                    <div class="breakPara"></div>

                    <div v-if="reset">
                        Your new password is {{newPassword}} <br><br>

                        Please login and change your password <br><br>

                        <button type="button" class="btn btn-primary btn-lg btnSize" onclick="location.href='login.html'">Login</button>

                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <!--Vuefire-->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <script>

        var dbUsers = firebase.database().ref("users");

        const app = Vue.createApp({
            data () {
                return {
                    users: [], // array of user objects
                    status: true,
                    userId: "",
                    revCode: "",

                    formControlUser: "form-control",
                    formControlCode: "form-control",

                    userEmpty: false,
                    userDoesNotExist: false,
                    revEmpty: false,
                    revWrong: false,

                    newPassword: "",
                    reset: false,

                }
            }
            ,

            firebase: {
                dbUsers: {
                    source: dbUsers,
                    asObject: true
                }
            }
            ,

            created() {
                dbUsers.once("value").then((snapshot) => {
                    if(snapshot.exists()) {
                        this.users = snapshot.val();
                    }
                })

                if (localStorage.loggedUser) {
                    window.location.href = "../index.html";
                } 
            }
            ,

            methods: {
                randomCharacters() {
                    var alphaNumerics = "abcdefghijklmnopqrstufwxyzABCDEFGHIJKLMNOPQRSTUFWXYZ1234567890";
                    var randomChar = ""

                    for (i=0; i<8; i++) {
                        var rand = Math.floor(Math.random() * alphaNumerics.length);
                        randomChar += alphaNumerics[rand];
                    }

                    return randomChar
                }
                ,

                check() {
                    this.formControlUser = "form-control";
                    this.formControlCode= "form-control";
                    this.status = true;

                    this.userEmpty = false;
                    this.userDoesNotExist = false;
                    this.revEmpty = false;
                    this.revWrong = false;

                    this.newPassword = "";
                    this.reset = false;

                    if(this.userId == "") {
                        this.userEmpty = true;
                        this.formControlUser = "form-control is-invalid";
                        this.status = false;
                    }

                    else if (!(this.userId in this.users)) {
                        this.userDoesNotExist = true;
                        this.formControlUser = "form-control is-invalid";
                        this.status = false;
                    } 

                    else if (this.revCode == "") {
                        this.revEmpty = true;
                        this.formControlCode = "form-control is-invalid";
                        this.status = false;
                    }
                    
                    else  {
                        var data = firebase.database().ref('users/' + this.userId);
                        data.once("value").then((snapshot =>{
                            if (snapshot.exists()) {
                                var correctCode = snapshot.val().recovery;
                            
                                if (this.revCode != correctCode) {
                                    this.revWrong = true;
                                    this.formControlCode = "form-control is-invalid";
                                    this.formControlUser = "form-control is-invalid";
                                    this.status = false;
                                } 

                                if (this.status){
                                    this.newPassword = this.randomCharacters()

                                    firebase.database().ref('users/' + this.userId).set({
                                    password: this.newPassword, 
                                    userId: this.userId,
                                    recovery: correctCode
                                    })

                                    this.reset = true
                                }
                            }
                        }))
  
                    }

                }
            }
        })

        app.mount("#recoveryPage")
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    
</body>
</html>